body{
    background-image: url(portadaJuanjo.png);
}

.enter{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 54em;
    bottom: 21em;
}

.titulo{
    color: blue;
    font-size: 60px;
    position: absolute;
    left: 11em;
    bottom: 9em;
}

button{
    font-size: 60px;
    border-radius: 15px;
}